@charset "utf-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Roboto');

#container {
	width: 80%;
	min-height: 90vh;
	margin: auto;
	border: 1px solid black;
}
#header {
	border-bottom: 1px solid black;
	padding: 10px;
	text-align: center;
	background-color: #777474
}
#nav {
	border: 1px solid black;
	padding: 10px;
	}
#nav img.item {
	width: 40px;
	height: 40px;
	}
#nav img.contact {
	width: 40px;
	height: 30px;
	padding-left: 10px;
	padding-bottom: 5px;
}
#nav img.home {
	width: 40px;
	height: 30px;
	padding-bottom: 7px;

}
#nav img.fb_icon {
	
}
#main {
	background-color: #824F50
}
form {
	width: 40vw;
	margin: 20px auto;
	border: 1px solid black;
	padding: 20px;
}
.portrait {
	width: 500px;
	height: 267px;
}



	


	


body {
   
	
	background: #ddd;
	font-family: 'Roboto', sans-serif;
	
	}
footer {
	
}

	