@charset "utf-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');
body {
   
	
	background: #0D0B08;
	font-family: 'Oswald', sans-serif;
	
	
	}
#container {
	width: 90%;
	min-height: 90vh;
	margin: auto;
	border: 1px solid white;
	
}
#header {
	border-bottom: 1px solid white;
	padding: 10px;
	text-align: center;
	background-color: #777474;
	height: 20%;
	background: linear-gradient(rgb(34, 27, 39), rgb(66, 49, 79));
	
}
#header h1 {
	font-family: 'Parisienne', cursive;
	color: white;
}
#nav {
	border: none;
	padding: 10px;
	height: 10%;
	background: #FFCA84;
	
	}
#nav img.item {
	width: 40px;
	height: 40px;
	
	}
#nav img.contact {
	width: 40px;
	height: 30px;
	padding-left: 10px;
	padding-bottom: 5px;
}
#nav img.home {
	width: 40px;
	height: 30px;
	padding-bottom: 7px;

}

#main {
	background-color: #824F50;
	height: 65%;
	background-image: url(../images/background.JPG);
	background-size: cover;
	color: white;
	
}
#main h1 {
	padding-left: 20px;
	padding-top: 20px;
}
#main h2 {
	padding-left: 20px;
	padding-top: 20px;
}
#main h3 {
	padding-left: 20px;
	padding-top: 20px;
}
#main p {
	padding-left: 20px;
	margin-top: 4px;
}
#main table caption.caption {
	font-size: 25px;
}
#main tbody th.subject {
	font-sixe: 20px;
}

table, th, td {
    table-layout: fixed;
    width: 100%; 
	align-content: center;
	text-align: center;
	image-orientation: center;
}

 td.project {
	font-size: 30px;
}
figcaption.figcaption {
	font-weight: 200;
	
}
form {
	width: 40vw;
	
	margin: 20px auto;
	border: none;
	padding: 20px;
	
	
}
#blueberry {
	position: relative;
	top: 20px;
	left: 200px;
	
}
#address {
	display: inline-block;
}
#form {
	background: #FFC282;
	width: 200px;
}
#me {
	margin-top: 20px;
	margin-left: 20px;
}
	


	



#footer {
	height: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: black;
	background: #FFCA84;
}

	